DATABASE_URL="postgresql://usuario:contrasena@localhost:5432/tienda_db"
JWT_SECRET="cambia_esto_por_un_secreto_seguro"
JWT_EXPIRES_IN="7d"
PORT=4000
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173,https://moda-jelu.vercel.app/"